#####################################################################
#   Variables
#####################################################################

[gcode_macro _SENSOR_VARIABLES]
variable_nozzle_loading_temp			:230
variable_nozzle_purge_speed             :300    # filament extrude speed in mm/min adjust this value lower if flow is too high and extruder skips during loading, default is 300

variable_load_distance            		:100    # filament extrude amount during load sequence, hotend purge from old filament, default is 200
variable_unload_distance        		:65     # filament retract distance for unload procedure. this length shall be long enough to extract the filament above the drive gears

variable_cooldown_load                  :False   # if true, cools down hotend after loading to set temp in next variable. If False, then keeps at material temp until idle timeout
variable_cooldown_load_temp             :180    # temp to cooldown to after loading. The temp should be set around 185 to prevent oozing, but keep the hot end close to print temp
variable_cooldown_load_retract          :False
variable_cooldown_load_retract_length   :10
variable_cooldown_unload                :False

variable_busy_loading	: 0
variable_busy_unloading	: 0

gcode:

#####################################################################
#   Filament Sensors
#####################################################################
[filament_switch_sensor filament_sensor_2_bottom]
switch_pin: nhk:gpio13
pause_on_runout: false

# Filament Load Macro
[filament_switch_sensor filament_sensor_1_top]
switch_pin: nhk:gpio3
pause_on_runout: false # This is set to false, because the pause is handled on its own in runnout_init. True tries to pause during filament unload.
#runout_gcode: runnout_init
insert_gcode: load_filament
event_delay: 3.0
pause_delay: 0.5


#####################################################################
#   Load Filament Macro
#####################################################################

[gcode_macro load_filament]
gcode:
  {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}

  {% if (printer.print_stats.state != "printing") %}
    {% if (printer['filament_switch_sensor filament_sensor_1_top'].filament_detected|lower == 'true')%}
        {% if (sensor.busy_loading == 0) %}
            SET_GCODE_VARIABLE MACRO=_SENSOR_VARIABLES VARIABLE=busy_loading VALUE=1 
            
            M118 Filament Loading!

            M82           #set extruder to absolute mode
			G92 E0
			FORCE_MOVE STEPPER=extruder DISTANCE=2 VELOCITY=10 ACCEL=1000
            
			{% if (printer.extruder.can_extrude|lower != 'true') and (printer.extruder.target < sensor.nozzle_loading_temp) %}
                M118 Hotend heating!
				SET_HEATER_TEMPERATURE HEATER=extruder TARGET={sensor.nozzle_loading_temp} # set user defined load temperature
                TEMPERATURE_WAIT SENSOR=extruder MINIMUM={sensor.nozzle_loading_temp} # wait for reaching configured unload temperature
			{% endif %}
            
			M82           #set extruder to absolute mode
			G92 E0
			#G4 P1500      # wait for 1.5 seconds
			FORCE_MOVE STEPPER=extruder DISTANCE=15 VELOCITY=10 ACCEL=1000
			TEMPERATURE_WAIT SENSOR=extruder MINIMUM={sensor.nozzle_loading_temp}
			
			M118 Filament now loading...
			G1 E{sensor.load_distance} F{sensor.nozzle_purge_speed} # extrude preconfigured purge length
			M400 # wait to complete nozzle purge

            {% if (sensor.cooldown_load_retract|lower == 'true') %}
              G92 E0 # zero the extruder
              G1 E-{sensor.cooldown_load_retract_length} F1800 #retract filament
			{% endif %}
			
			{% if (sensor.cooldown_load|lower == 'true') %}
				M118 Setting extruder temp to: {sensor.cooldown_load_temp}
				SET_HEATER_TEMPERATURE HEATER=extruder TARGET={sensor.cooldown_load_temp}
			{% endif %}

			SET_GCODE_VARIABLE MACRO=_SENSOR_VARIABLES VARIABLE=busy_loading VALUE=0
            SET_GCODE_VARIABLE MACRO=_SENSOR_VARIABLES VARIABLE=busy_unloading VALUE=0
			M118 Filament load complete!
            
		{% else %}
			M118 Filament already loaded!    
        {% endif %}
    {% else %}
      M118 Cannot load when there is no filament inserted!
    {% endif %}
  {% else %}
    M118 Printing! Cannot load filament right now!
  {% endif %}
  
#####################################################################
#   Unload Filament Macro
#####################################################################
  
[gcode_macro unload_filament]
gcode:
	{% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}
	{% set saved = printer.save_variables.variables %}
	
	{% if (printer.print_stats.state != "printing") %} # Make sure the printer is not printing
	
		{% if sensor.busy_unloading == 0 %}
			SET_GCODE_VARIABLE MACRO=_SENSOR_VARIABLES VARIABLE=busy_unloading VALUE=1 

			M118 Filament unloading!
			M83
			G92 E0
						
			{% if (printer.extruder.can_extrude|lower != 'true') and (printer.extruder.target < sensor.nozzle_loading_temp)%} # checking for minimum extrusion temperature
				M118 Hotend heating!
                SET_HEATER_TEMPERATURE HEATER=extruder TARGET={sensor.nozzle_loading_temp} # restore user temp if it was set before loading
				TEMPERATURE_WAIT SENSOR=extruder MINIMUM={sensor.nozzle_loading_temp} # wait for reaching configured unload temperature
            {% endif %}

            M118 Filament now unloading...
            
			G0 E5 F500 # extruder 5mm of filament before extracting 
			G0 E-5 F3600 	#extract filament to cold end
			G4 P2000 # wait for two seconds
			G0 E6 F3600 # push the filament back 
			G0 E-10 F3600 	#extract filament to cold end
			G0 E-{sensor.unload_distance} F300	# continue extraction slow allow filament to be cooled enough before reaches the gears  
			M400 # wait to complete unload

            {% if (sensor.cooldown_unload|lower == 'true') %}
              M104 S0 T0 #cooldown
              M118 Colling down...
			{% endif %}
            
			SET_GCODE_VARIABLE MACRO=_SENSOR_VARIABLES VARIABLE=busy_loading VALUE=0
            SET_GCODE_VARIABLE MACRO=_SENSOR_VARIABLES VARIABLE=busy_unloading VALUE=0
			M118 Filament unload complete!
		{% else %}      
		  M118 Nothing to unload!
		{% endif %}
		
	{% else %}   
		M118 Printing! Cannot unload filament right now!
	{% endif %}